@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  /* background-color: antiquewhite; */
}

:root {
  --title: rgb(162, 157, 157);
  --shadow1: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  --shadow2: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.container {
  /* background-color: red; */
  width: clamp(375px, 90%, 1300px);
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.product {
  width: 280px;
  width: clamp(30%, 100%, 280px);
  /* background-color: #e3e3e3; */
  border-radius: 10px;
  transition: all 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--shadow1);
}
.product:hover {
  box-shadow: var(--shadow2);
}
nav {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow1);
  justify-content: center;
  gap: 2rem;
  height: 3em;
  align-items: center;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
}

.active {
  color: red;
}

.product-details {
  padding: 0.625rem 1rem;
}
.product-details > * {
  margin: 6px 0;
}
.img {
  /* width: 150px; */
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.brand {
  color: var(--title);
  font-weight: 600;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 1.01rem;
}

.title {
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.price {
  display: flex;
  /* justify-content: space-between; */
  gap: 0.8rem;
}
.After-discount {
}
.before-discount {
  color: var(--title);
  text-decoration: line-through;
  font-size: 0.9rem;
}

.discount {
  color: #388e3c;
}
button {
  background-color: transparent;
  border: 2px solid dodgerblue;
  color: #000000;
  padding: 4px 1rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 0.4s;
}

button:hover {
  background-color: dodgerblue;
  color: #fff;
}
/* singleProduct */
.singleProduct {
  display: flex;
}

.img-container {
  position: relative;
  flex: 1 0 300px;
}
.order {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.singleProduct img {
  width: 100%;
}
.special-price {
  color: #388e3c;
  font-weight: 500;
}

.singleProduct .title {
  font-weight: 600;
  font-size: 1.2rem;
}
.singleProduct .After-discount {
  font-size: 1.6rem;
  font-weight: 600;
}

.singleProduct .price {
  align-items: center;
}

.rating {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.reviews {
  color: rgb(143, 142, 142);
  font-weight: 500;
  font-size: 0.9rem;
}
.stars {
  display: inline-flex;
  color: #fff;
  background-color: #388e3c;
  align-items: center;
  padding: 0 0.5rem;
  border-radius: 20px;
  gap: 5px;
}
.singleProduct .img-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.singleProduct .img-container img {
  height: 80%;
}
.singleProduct .order {
  height: 3.3rem;
}
.singleProduct .order button {
  padding: 0;
  font-weight: 600;
  font-size: 1rem;
  color: #fff;
  transition: all 0.4s;
}
.singleProduct .order button:first-child {
  border: 2px solid orange;
  background-color: orange;
}
.singleProduct .order button:last-child {
  border: 2px solid orangered;
  background-color: orangered;
}

.singleProduct .order button:hover {
  background-color: transparent;
  color: #000;
}
.loading {
  width: 100px;
  height: 100px;
  border: 5px solid #ce0071;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  transition: transform 0.3s;
  animation: rotate 1s linear infinite;
  margin: auto;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.center {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.center img {
  width: 400px;
}

.like-container {
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  justify-content: center;
  position: absolute;
  background-color: #b6b6b6;
  box-shadow: var(--shadow1);
  right: 1rem;
  top: 1rem;
  /* margin: 1.3rem; */
  cursor: pointer;
  color: grey;
  font-size: 1.3rem;
  transition: all 0.4s;
}

.like-container:hover {
  background-color: #404040;
  color: #fff;
}
